body {
    font-size: 15pt;
}

backgroundcolor: d24dff

ul {
width:100%; 
float:left; 
text-align:center; 
}

li {
padding-right: 25px;
display: inline-block;
list-style:none;

}
li .cabecalho {
font-family: 'open_sansbold';
font-size:35px;
color:red;
}
